<!DOCTYPE HTML>
<html>
<head>
  <script src="angular.min.js"></script>
  <script src="assignment-2.js"></script>
</head>
<body ng-app="ShoppingApp">
  <h2>Shopping Lists</h2>
  <div ng-controller="ParentShoppingController as parent">
    <h4>To Buy List</h4>
    {{ToBuyMessage}}
    <ul>
      <li ng-repeat="item in toBuyItems">Buy {{item.quantity}} {{item.name}} <button ng-click="AddToBroughtList($index)">Bought</button></li>
    </ul>
    <div ng-controller="ChildShoppingController as child">
<h4>Already Bought List</h4>
      {{AlreadyBroughtMessage}}
      <ul>
        <li ng-repeat="item in boughtItemsList">Bought {{item.quantity}} {{item.name}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
