<!DOCTYPE HTML>
<html>
<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="ShoppingApp">
  <h2>Shopping Lists</h2>
  <div ng-controller="ParentShoppingController as parent">
    <h4>To Buy List</h4>
    {{parent.message}}
    <ul>
      <li ng-repeat="item in parent.items">Buy {{item.quantity}} {{item.name}} <button ng-click="parent.AddToBroughtList(item)">Bought</button></li>
    </ul>
    <div ng-controller="ChildShoppingController as child">
<h4>Already Bought List</h4>
      <div ng-if="!child.items.length">{{child.message}}</div>
      <ul>
        <li ng-repeat="item in child.items">Bought {{item.quantity}} {{item.name}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
